.main {
    display: flex;
    justify-content: space-around;
    flex-flow: wrap;
    gap: 0;
    
}

/* .image{
    width: 50%;
} */

img {
    /* background-color:darkslategrey;
    flex-grow: 2;
    padding: 0%;
    max-width: 50vh;
    flex-shrink: 3; */
    /* display: block; */
    max-width: 50vh;
    max-height: 50vh;
    width: 100%;
    height: auto;
    border-radius: 30px 0px 0px 30px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.content {
    background-color: #1d1d2c;
    /* background-image: linear-gradient(135deg, #8BC6EC 0%, #9599E2 100%); */
    display: flex;
    padding: 0px 8px;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    max-width: 50vh;
    max-height: 50vh;
    border-radius: 0 30px 30px 0;
    color: white;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.name,
.title {
    margin: 0px;
    margin-top: 10%;
    color: #F64C72;
}

@media (orientation: portrait) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    img {
        display: none;
    }

    .content {
        border-radius: 30px 30px;
    }
}